.profile-img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.info {
  position: sticky;
  top: 0;
}

.personal-info {
  border-radius: 10px;
  padding: 10px 0;
}

.break-btn {
  border-radius: 50%;
  text-transform: lowercase;
}
